@using BDS.Data.Entities;
@model List<RealEstate>
@{
    ViewData["Title"] = "Phân khu " + @ViewBag.AreaName;
}

<head>
    <link rel="stylesheet" href="~/assets/css/zone.css">
</head>
<div class="grid margin-top-60px background-color">
           <div class="navigation-bar grid wide ">
               <div class=row>
                    <a href="./index.html" > Trang Chủ >></a>
               </div>
               <div class="row font-size-20px">
                    <a href="./project.html" class="font-size-20px">Dự Án</a>
               </div>
               <div>
                    <a class="font-size-20px">Phân Khu</a>
               </div>
                </div>
        </div>
<!-- ----------------------------------------------- -->        
          <div id="product--list--investor" class="grid">
              <div class=" border-around-4px grid wide row">
                  <div class="product--list--item col l-12 ">
                      <div class="row border-bottom-4px">
                          <a class="product-btn l-4 l-o-4 m-4 m-o-4 c-4 c-o-4">
                              Phân khu @ViewBag.AreaName
                          </a>
                      </div>
                      <div >
                          <a class="sort-btn l-2   l-o-10 m-4 m-o-4 c-4 c-o-4">
                              Sắp xếp <i class=ti-angle-down></i>
                          </a>
                      </div>
                    
                      @{
                          foreach (var item in Model)
                          {
                              <div   class="row margin-left-right margin-top-8px">
                                  <div class = " l-3 margin-left-8px border-2px background-color">
                                      <img src="~/assets/img/home.png">
                                  </div>
                                  <div class = " product--list--item--info  l-9 ">
                                      <h1>Biệt thự VinhomesGrandpark phân khu the origami lô 1A</h1>
                                      <p class="text">Vị trí:Dự án VinHomes Grand Park, đường Lê Văn Việt Phường Tăng Nhơn PhúA, quận 9.
Diện tích: 200m2 dài 20m, rộng 10m
Hướng: Đông 
Giá: 60 TR/m2
Tầng: 2
Số phòng ngủ: 5
Số toilet: 2                                        
                                      </p>
                                  </div>
                              </div>
                          }
                      }
                    

                      <div class=" grid wide row">
                          <a class="more-btn col l-2 l-o-5 m-4 m-o-4 c-4 c-o-4"> xem thêm </a>
                      </div>
                  </div>
              </div>
              </div>
          <!-- ------------------------------- -->
   