 @{
     ViewData["Title"] = "Trang chủ";
 }

 <div id="introduce--slider--section">
 </div>
 <!-- ----------------------------------------------- -->
        <div id="introduce--value--section" class="grid ">
           <div class="grid wide">
            <div class="row">
                <div class="value-item col l-4 m-12 c-12">
                    <div class="value-img "><img src="./assets/img/introduce-section/value/profits.png" alt="" class="-img"></div>
                    <h1>TẦM NHÌN</h1>
                    <p>Trở thành Nhà tư vấn và tiếp thị Bất động sản uy tín nhất tại Việt Nam</p>
                </div>
                <div class="value-item col l-4 m-12 c-12">
                    <div class="value-img "><img src="./assets/img/introduce-section/value/target.png" alt="" class="-img"></div>
                    <h1>SỨ MỆNH</h1>
                    <p>Mang đến những giá trị tốt nhất và an toàn nhất cho khách hàng trong nước và quốc tế</p>
                </div>
                <div class="value-item col l-4 m-12 c-12">
                    <div class="value-img"><img src="./assets/img/introduce-section/value/value.png" alt="" class="-img"></div>
                    <h1>GIÁ TRỊ CỐT LÕI</h1>
                    <p>Niềm tin là tài sản vô giá! Chúng tôi luôn tận tâm với đối tác của mình.</p>
                </div>
            </div>
            <div class="row">
                <div class="col value-item   l-4 m-12 c-12 l-o-2">
                    <div class="value-img"><img src="./assets/img/introduce-section/value/high-five.png" alt="" class="-img"></div>
                    <h1>TÔN CHỈ HOẠT ĐỘNG</h1>
                    <p>Hoàng Nam Land hoạt động với phương châm uy tín, chất lượng, an toàn và đảm bảo lợi ích tốt nhất cho khách hàng</p>
                </div>
                <div class="col value-item   l-4 m-12 c-12 l-o-0">
                    <div class="value-img"><img src="./assets/img/introduce-section/value/honesty.png" alt="" class="-img"></div>
                    <h1>ĐỐI TÁC CHIẾN LƯỢC</h1>
                    <p>Đối tác chiến lược của công ty là VinHomes và các đơn vị phân phối bất động sản uy tín khác trên toàn quốc</p>
                </div>
            </div>
           </div>
        </div>
         <!-- ----------------------------------------------- -->
        <div id="introduce--partner--section" class="grid">
            <div class="grid wide">
                <div class = "row"><h1 class="col l-12 m-12 c-12"> ĐỐI TÁC CHIẾN LƯỢC</h1></div>
                <div class="row">
                    <div class="col partner-img l-4 m-12 c-12">
                        <img src="./assets/img/introduce-section/partner/masteri.png">
                    </div>
                    <div class="col partner-img l-4 m-12 c-12">
                        <img src="./assets/img/introduce-section/partner/vinhomegrandpark.png">
                    </div>
                    <div class="col partner-img l-4 m-12 c-12">
                        <img src="./assets/img/introduce-section/partner/masterise.png">
                    </div>
                </div>
            </div>
            </div>
