.admin-form{
    width:100%;
    margin:0 60px;
}
.admin{
    width:100%;
    padding:10px;

    margin: 20px 0;
}
.loginh2 {
    margin-left:30px;
    margin-bottom:10px;
}


.second-button2 {
    color: white;
    font-size: 18px;
    margin-left:34px;
    margin-top:20px;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px 30px;
    border-radius: 4px;
    border: none;
    background: #080a0a;

    transition: box-shadow .35s ease !important;
    outline: none;
}

.second-button2:active{
    background: linear-gradient(145deg,#222222, #292929);
    box-shadow: 5px 5px 10px #262626, -5px -5px 10px #262626;
    border: none;
    outline: none;
}
.loginp{
    font-size:12px;
    margin-left:20px;
}
.account-info h1{
    text-align: left;
}
.account-info p{
    text-align: left;
    font-size:14px;
}
.margin-top-20px{
    margin-top:60px;
}
.border-4px{
    border:4px solid #c0f7fb;
}
.i-1{
    padding:0px;
    width:40px;
    height:40px;
    margin-left: 50px;
}
.i-1 i{
    line-height:40px;  font-size:20px;

}
.minwidth900px{
    min-width:1200px;
}
.right0 img{
    height:120px;

}
intput  .second-button2 {
    color: white;
    font-size: 18px;
    margin-left:34px;
    margin-top:20px;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px 30px;
    border-radius: 4px;
    border: none;
    background: #080a0a;

    transition: box-shadow .35s ease !important;
    outline: none;
}



input[type=text], select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}
input[type=password], select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}
/* Style the label to display next to the inputs */
label {
    padding: 12px 12px 12px 0;
    display: inline-block;
    font-size: 14px;
    float: left;
}

/* Style the submit button */
input[type=submit] {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #000;
    color: white;
    border: none;
    padding: 12px 20px;
    cursor: pointer;
    float: center;

}
input[type=submit]:hover {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #000;
    color: white;
    border: none;
    padding: 12px 20px;
    cursor: pointer;
    float: center;

}
#sell-rent .sell-rent-info {

}
.upload-img p{
    font-size:20px;
    margin-top:20px;
}

/* Style the container */
.container {

    background-color: #f2f2f2;
    padding: 20px;
}

/* Floating column for labels: 25% width */
.col-25 {
    float: left;
    width: 15%;
    margin-top: 6px;
}

/* Floating column for inputs: 75% width */
.col-75 {
    float: left;
    width: 85%;
    margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
        width: 100%;
        margin-top: 0;

    }
}