#product--estateinfomation{

}

#product--estateinfomation img{
width:100%;
}
#product--estateinfomation #project--banner .imgBx{
    /* background: url('/assets/img/aboutproject/grandword-slider.png'); */
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}
#product--estateinfomation #project--banner .imgBx img{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    object-fit:cover;
    opacity:0;
    transition:0.5s;
    background-position: center;
}

#product--estateinfomation #project--banner .imgBx img.active{
    opacity:1;
}
.product--estateinfomation--item--info {
background-color:#c0f7fb;

}
.product-btn-estate1:hover{
    cursor: pointer;
    border-color:#25c8b4;
}

.product--estateinfomation--item--info h1{
    text-align: left;
    font-size: 24px;
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 20px;
    color: #f94c08;
}
.product--estateinfomation--item--info  p{
    font-size: 16px;
    line-height: 30px;
    text-align: left;
    margin-left: 16px;
    margin-right: 16px;
    list-style: 30px;
}
.product-btn-estate{
  
        background-color:#25c8b4;
        font-size: 16px;
       
        text-align: center;
    color:#fff;
        text-transform: uppercase;
}
.product-btn-estate1{
    font-size: 12px;
    line-height: 30px;
    text-align: center;

    text-transform: uppercase;
}


.border-2px{
   border: 2px solid #c0f7fb;   
}


.navigation-bar{
    color:#000;
    margin-top:1000px;
   
    font-size:16px;
    padding:20px;
}
.navigation-bar a{
    padding-left:10px;
    line-height:32px;
    list-style-type: none;
    color:#000;
    text-decoration:none;
}
.navigation-bar a:hover{
    color:#f9b808;
    cursor: pointer;
    text-decoration: underline;
}