
#recruitment--slider--section{
    position: relative;
    margin-top: 60px;
    padding-top: 50%;
    /* them vao o tren 50% chieu ngang cua no */
    background: url('/assets/img/aboutproject/grandword-slider.png') top center/ cover no-repeat;
    position: relative;
    width: 100%;
}
.recruitment--list--section{
    padding-bottom: 90px;
    border-bottom: 2px solid #25c8b4;
}
.recruitment--list--item{
    border: 2px solid #25c8b4;
    margin-top: 10px;

}

.ecruitment--list--item1{

}
.recruitment--list--item h1 {
    background-color: #25c8b4;
    line-height: 40px;
    font-size: 30px;
    text-align: center;
    padding:10px;
}
.recruitment--list--item p {

    line-height: 32px;
    font-size: 16px;
    text-align: left;
    padding:10px;
}
.pagination{
    border: 1px solid #c0f7fb;
    border-radius: 16px;
    margin-top:20px;
}
.pagination a {
    color: black;
    /* line-height: 16px; */
    font-size:16px;
    float: left;

    padding: 16px 16px;
    text-decoration: none;
    transition: background-color .3s;
}

/* Style the active/current link */
.pagination a.active {
    background-color: #c0f7fb;
    color: white;

}
.margin-left-12px{
    margin-left:12px;
}

/* Add a grey background color on mouse-over */
.pagination a:hover:not(.active) {background-color: #ddd;}
     