@model BDS.Data.Entities.User

@{
    ViewData["Title"] = "Đổi mật khẩu";
}

<head>
  <link rel="stylesheet" href="~/assets/css/sell-rent.css">
  <link rel="stylesheet" href="~/assets/css/accountt.css">
</head>
<!-- ------------------------------- -->
        <div class="grid margin-top-60px background-color">
           <div class="navigation-bar grid wide ">
               <div class=row>
                    <a asp-action="Index" asp-controller="Home" > Trang Chủ >></a>
               </div>
               <div>
                    
               </div>
               <a asp-action="UpdateInfomation" asp-controller="User" class="font-size-20px">Cập nhật tài khoản</a>
                </div>
        </div>
 <!-- ----------------------------------------------- -->        
          <div id="sell-rent" class="grid">
            <div class=" grid wide row">
              <div class="sell-rent-info col l-12 ">
                    <div class="row border-bottom-4px margin-left-right ">
                      <a class="sell-rent-btn l-2 l-o-5 m-2 m-o-5 c-4 c-o-4 ">Tài khoản</a>
                    </div>
                  <div class="container border-around-4px  margin-left-right">
                        <form action="">
                          <div class="row">
                            <div class="col-25">
                              <label for="">Mật khẩu cũ</label>
                            </div>
                            <div class="col-75">
                              <input type="password" id="" name="oldPassword">
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-25">
                              <label for="">Mật khẩu mới</label>
                            </div>
                            <div class="col-75">
                              <input type="password" id="n" name="newPassword">
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-25">
                              <label for="">Nhập lại mật khẩu</label>
                              </div>
                            <div class="col-75">
                              <input type="password" id="n" name="confirmPassword">
                              </div>
                            </div>
                          <div class="row">
                            <input type="submit" class="l-2 l-o-5 m-2 m-o-5 c-4 c-o-4" value="ĐỔI MẬT KHẨU">
                          </div>
                        </form>
                    </div>
                </div>
            </div>
          </div>