

@{
    ViewData["Title"] = "Đăng kí";
}

<head>
    <link rel="stylesheet" href="~/assets/css/accountt.css">
    <link rel="stylesheet" href="~/assets/css/news.css">
</head>

<!-- ---------------------------------------------------------------- -->
        <!-- ------------------------------- -->
        <div class="grid margin-top-60px background-color">
           <div class="navigation-bar grid wide ">
               <div class=row>
                    <a asp-action="Index" asp-controller="Home" > Trang Chủ >></a>
               </div>
               <div>
                    
               </div>
               <a class="font-size-20px">Tài Khoản</a>
                </div>
        </div>

          <!-- ----------------------------------------------- -->        
       
            <div class="account-form grid wide row">
                
              
                    <div class="account col border-4px margin-top-20px ">
                     
                     
                        <div class="content">
                            <h1 class="loginh2" >ĐĂNG KÍ</h1> 
                            <form asp-action="Reg" method="post" asp-controller="User">
                            <div class="input-field"><i class=ti-user></i><input name="UserName" placeholder="Tài khoản" class="validate"></div>
                          <div class="input-field"><i class=ti-lock></i><input style="width: 30%" name="Password" type="password" placeholder="Mật khẩu" class="validate"></div>
                          <div class="input-field"><i class=ti-lock></i><input style="width: 30%" name="ConfirmPassword" type="password" placeholder="Nhập lại mật khẩu" class="validate"></div>
                          <div class="input-field"><i class=ti-email></i><input style="width: 30%" name="Email" type="email" placeholder="Email" class="validate"></div>
                          <div class="input-field"><i class=ti-tablet></i><input style="width: 30%" name="PhoneNumber" type="number" placeholder="Số điện thoại" class="validate"></div>
                       
                            <input class="second-button2" type="submit" value="Đăng Kí">
                            </form>
                       </div>
                     
                    </div>
                
            </div>
                    