@{
    ViewData["Title"] = "Thêm dự án";
    Layout = "_AdminLayout";
}


<head>
    <link rel="stylesheet" href="~/assets/css/admin.css">
    <link rel="stylesheet" href="~/assets/css/admin-info.css">
    <link rel="stylesheet" href="~/assets/css/sell-rent.css">
</head>

<div class="admin-form  grid wide row">
                
              
<div class="admin col  ">
    <div class="content">
        <h1 class="loginh2" >THÔNG TIN DỰ ÁN</h1>
        <div class=" account-info row"><h1 class="col l-2 paddingt  ">Tên dự án:</h1>
            <div class="col l-10">
                <input class="col minwidtht max-widtht " type="text" id="price" name="price" placeholder="Tên dự án..">
            </div>
        </div>
        <div class=" account-info row"><h1 class="col l-2 paddingt  ">Nhà đầu tư:</h1>
            <div class="col l-10">
                <input class="col minwidtht max-widtht " type="text" id="price" name="price" placeholder="Nhà đầu tư..">
            </div>
        </div>
        <div class=" account-info row"><h1 class="col l-2 paddingt  ">Thông tin:</h1>
            <div class="col l-10">
                <textarea style="min-height: 200px;text-align:left;" class="col minwidtht max-widtht " type="text" id="price" name="price" placeholder="Thông tin dự án.."></textarea>
            </div>
        </div>
        <div class=" account-info row"><h1 class="col l-2 paddingt  ">Tiến độ:</h1>
            <div class="col l-10">
                <textarea style="min-height: 200px;text-align:left;" class="col minwidtht max-widtht " type="text" id="price" name="price" placeholder="Tiến độ dự án.."></textarea>
            </div>
        </div>
        <div class=" account-info row"><h1 class="col l-2 paddingt  ">Lợi ích khách hàng:</h1>
            <div class="col l-10">
                <textarea style="min-height: 200px;text-align:left;" class="col minwidtht max-widtht " type="text" id="price" name="price" placeholder="Lợi ích khách hàng.."></textarea>
            </div>
        </div>
        <div class="grid account-info  row"><h1 class="col l-2 paddingt  ">Hình ảnh:</h1> 
            <div class="col l-10 ">
                <div class="">
                    <div class="l-3"> 
                        <p class="">Chọn ảnh:</p>
                        <input  class="" type="file" name="fileToUpload" id="fileToUpload" multiple>
                    </div>
                                       
                </div>
            </div>
        </div>
        <div class=" account-info row"><h1 class="col l-2 paddingt  ">Link video giới thiệu:</h1>
            <div class="col l-10">
                <input class="col minwidtht max-widtht " type="text" id="price" name="price" placeholder="Đường dẫn video giới thiệu..">
            </div>
        </div>
        <div class=" account-info row"><h1 class="col l-2 paddingt  ">Link video tiến độ:</h1>
            <div class="col l-10">
                <input class="col minwidtht max-widtht " type="text" id="price" name="price" placeholder="Đường dẫn video tiến độ..">
            </div>
        </div>
        
    </div>
    
    <button class="second-button2 margin-top-20px">THÊM</button>
</div>
</div>