@using BDS.Data.Enum
@model BDS.WebApp.Models.RealEstate.RealEstateSellViewModel
@{
    ViewData["Title"] = "Thêm nhà đất";
    Layout = "_AdminLayout";
}


<head>
    <link rel="stylesheet" href="~/assets/css/admin.css">
    <link rel="stylesheet" href="~/assets/css/admin-info.css">
    <link rel="stylesheet" href="~/assets/css/sell-rent.css">
</head>

<div class="admin-form  grid wide row">
    <div class="admin col  ">
        <div class="content">
            <h1 class="loginh2" >THÔNG TIN PHÂN KHU</h1>
            <form>
                <div class="grid account-info  row"><h1 class="col l-2 paddingt  ">Hình ảnh:</h1> 
                    <div class="col l-10 ">
                        <div class="">
                            <div class="l-3"> 
                                <p class="">Chọn ảnh(Tối đa 8 ảnh. Giữ CTRL để chọn nhiều ảnh):</p>
                                <input  class="" type="file" name="fileToUpload" id="fileToUpload" multiple>
                            </div>
                        </div>
                    </div>
                </div>
                <div class=" account-info row">
                    <h1 class="col l-2 paddingt  ">Tên nhà đất:</h1>
                    <div class="col l-10">
                        <input class="col minwidtht max-widtht " type="text" id="price" name="name" placeholder="Tên nhà đất..">
                    </div>
                </div>
                <div class=" account-info row">
                    <h1 class="col l-2 paddingt  ">Vị trí:</h1>
                    <div class="col l-10">
                        <input class="col minwidtht max-widtht " type="text" id="price" name="location" placeholder="Vị trí nhà đất..">
                    </div>
                </div>
                <div class=" account-info row">
                    <h1 class="col l-2 paddingt  ">Diện tích:</h1>
                    <div class="col l-10">
                        <input class="col minwidtht max-widtht " type="text" id="price" name="acreage" placeholder="Diện tích..">
                    </div>
                </div>
                <div class=" account-info row">
                    <h1 class="col l-2 paddingt  ">Chiều dài:</h1>
                    <div class="col l-10">
                        <input class="col minwidtht max-widtht " type="text" id="price" name="length" placeholder="Chiều dài..">
                    </div>
                </div>
                <div class=" account-info row">
                    <h1 class="col l-2 paddingt  ">Chiều rộng:</h1>
                    <div class="col l-10">
                        <input class="col minwidtht max-widtht " type="text" id="price" name="width" placeholder="Chiều rộng..">
                    </div>
                </div>
                <div class=" account-info row">
                    <h1 class="col l-2 paddingt  ">Hướng:</h1>
                    <div class="col l-10">
                        <select id="orient" name="orientation" asp-items="Html.GetEnumSelectList<Orientation>()">
                        </select>
                    </div>
                </div>
                <div class=" account-info row">
                    <h1 class="col l-2 paddingt  ">Bán/thuê:</h1>
                    <div class="col l-10">
                        <select id="orient" name="sell">
                            <option value="ban">Bán</option>
                            <option value="thue">Cho thuê</option>
                        </select>
                    </div>
                </div>
                <div class=" account-info row">
                    <h1 class="col l-2 paddingt  ">Loại nhà:</h1>
                    <div class="col l-10">
                        <select id="orient" name="typeId" asp-items="@(new SelectList(Model.realEstateTypes, "id", "name"))">
                        </select>
                    </div>
                </div>
                <div class=" account-info row">
                    <h1 class="col l-2 paddingt  ">Giá:</h1>
                    <div class="col l-10">
                        <input class="col minwidtht max-widtht " type="text" id="price" name="price" placeholder="Giá nhà đất..">
                    </div>
                </div>
                <div class=" account-info row">
                    <h1 class="col l-2 paddingt  ">Tầng:</h1>
                    <div class="col l-10">
                        <input class="col minwidtht max-widtht " type="text" id="price" name="floor" placeholder="Tầng..">
                    </div>
                </div>
                <div class=" account-info row">
                    <h1 class="col l-2 paddingt  ">Số phòng ngủ:</h1>
                    <div class="col l-10">
                        <input class="col minwidtht max-widtht " type="text" id="price" name="bedRoom" placeholder="Số phòng ngủ..">
                    </div>
                </div>
                <div class=" account-info row">
                    <h1 class="col l-2 paddingt  ">Số toilet:</h1>
                    <div class="col l-10">
                        <input class="col minwidtht max-widtht " type="text" id="price" name="bathRoom" placeholder="Số toilet..">
                    </div>
                </div>
                <div class=" account-info row">
                    <h1 class="col l-2 paddingt  ">Địa chỉ:</h1>
                    <div class="col l-10">
                        <input class="col minwidtht max-widtht " type="text" id="price" name="address" placeholder="Địa chỉ..">
                    </div>
                </div>
                <div class=" account-info row">
                    <h1 class="col l-2 paddingt  ">Mặt tiền:</h1>
                    <div class="col l-10">
                        <input class="col minwidtht max-widtht " type="text" id="price" name="price" placeholder="Số mét mặt tiền..">
                    </div>
                </div>
                <div class=" account-info row">
                    <h1 class="col l-2 paddingt  ">Đường chính:</h1>
                    <div class="col l-10">
                        <input class="col minwidtht max-widtht " type="text" id="price" name="facade" placeholder="Tên đường chính..">
                    </div>
                </div>
                <div class=" account-info row">
                    <h1 class="col l-2 paddingt  ">Mô tả thêm:</h1>
                    <div class="col l-10">
                        <textarea style="text-align: left;min-width: 200px" class="col minwidtht max-widtht " type="text" id="price" name="mainLine" placeholder="Mô tả thêm.."></textarea>
                    </div>
                </div>

                <button class="second-button2 margin-top-20px">THÊM</button>

            </form>
        </div>
    
       
 
    </div>
</div>