@using BDS.Data.Entities;
@model Project

@{
    //ViewData["Title"] = @Model.name;
}
<head>
    <link rel="stylesheet" href="./assets/css/aboutproject.css">
</head>
<!-- ----------------------------------------------- -->
        <div id="aboutproject--slider--section">
        </div>
         <!-- ----------------------------------------------- -->
        <div id="aboutproject--information--section" class="grid">
            <div class="grid wide">
                <h1>✨ GRAND WORLD PHÚ QUỐC ✨</h1>
            </div>
            <div class="text grid wide">
                <p>Dự Án Grand World Phú Quốc là chuỗi sản phẩm với phong cách Địa Trung Hải, Đông Dương, khu phố Thượng Hải
rực rỡ  nằm cạnh quần thể tự nhiên Grand World Phú Quốc được quy hoạch với hơn 600m có vị trí ngay bờ biển Bãi Dài,
một trong 20 bãi biển đẹp nhất và hoang sơ nhất châu Á được CNN vinh danh do chủ đầu tư Vingroup thực hiện.
Dự án hứa hẹn mang nhiều yếu tố và tiềm năng lớn sẽ đem lại giá trị cho các nhà đầu tư.
Vị trí của dự án là yếu tố đặc biệt quyết định 80% sự thành công và sinh lời của một sản phẩm bất động sản.
Dự Án Grand World Phú Quốc sở hữu vị trí đẹp tại bãi biển xứng đáng cho một kiệt tác BĐS nghỉ dưỡng cao cấp.
Dự án kết hợp với khu nghỉ dưỡng phức hợp đẹp nhất Vinpearl Phú Quốc và Corona Resort Phú Quốc, Condotel Vinpearl Phú Quốc,
sân Goft chuẩn quốc tế kế bên để tạo thành một chuỗi hệ du lịch thiên nhiên nghỉ dưỡng.
Vị trí vàng
Cơ hội đầu tư vượt trội 
Vị trí là yếu tố đặc biệt quyết định 80% sự thành công và sinh lời của một sản phẩm bất động sản
Grand World Phú Quốc sở hữu vị trí vàng xứng tầm cho một kiệt tác BĐS nghỉ dưỡng với hơn 600m bờ biển Bãi Dài, một trong 20 bãi biển đẹp và hoang sơ nhất châu Á được CNN vinh danh
Dự án còn kết hợp với khu nghỉ dưỡng phức hợp Vinpearl Phú Quốc và Corona Resort & Casino Phú Quốc kế bên để tạo thành một đại quần thể Du lịch Nghĩ dưỡng, Vui chơi Giải trí, Thương mại Dịch vụ và mua sắm hàng đầu tại Đảo Ngọc
Liền kề với "thỏi nam châm" hút khách mang tên Casino Corona, casino đầu tiên tại Việt Nam được cấp phép cho người Việt vào chơi!.
                </p>
            </div> 
        </div>
         <!-- ----------------------------------------------- -->
        <div id="aboutproject--banner">    
        </div>
         <!-- ----------------------------------------------- -->
        <div id="aboutproject--videointroduce--section" class=" grid wide row ">
          
            <iframe id="a" class="col l-12 m-12 c-12" src="https://www.youtube.com/embed/kzaxMiggCoY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
         <!-- ----------------------------------------------- -->
        <div id="aboutproject--detailed-information--section" class="grid ">
            <div class=" grid wide">
                <h1>THÔNG TIN CHI TIẾT</h1>
            </div>
            <div class="text grid wide">
                <p>
✓ Các toà từ S6.01 đến S9.03 đang thi công đến tầng 20 và đang tiến hành lắp đặt:
+ Lắp nhôm kính đến tầng 3
+ Thi công hệ thống cơ điện đến tầng 11
+ Sơn bả mặt ngoài đến tầng 15
✓ Các toà S10.01, S10.02, S10.03 đã xong phần hầm, đang thi công đến tầng 11
✓ Các toà S10.05, S10.06, S10.07 đang thi công đến tầng 8 và hầm B2
                    
✨ Dự kiến bắt đầu bàn giao từ những tháng cuối năm 2021, The Origami sẽ là dấu mốc mới trong quá trình kiến tạo Đại đô thị Vinhomes Grand Park, chào đón hàng chục ngàn cư dân TP. Thủ Đức tận hưởng cuộc sống tiện nghi hiện đại và tiên phong hàng đầu Việt Nam.
Thành phố Thông Minh – Công viên – Vinhomes Grand Park có tổng diện tích 271ha, tọa lạc tại phường Long Bình và Long Thạnh Mỹ, quận 9 – cửa ngõ phía Đông của Thành phố Hồ Chí Minh. Dự án có vị trí nằm kế cận tuyến metro số 1 Bến Thành – Suối Tiên, cùng các tuyến đường huyết mạch giúp kết nối dễ dàng đến các quận lân cận, đồng thời di chuyển nhanh chóng đến sân bay Tân Sơn Nhất và sân bay Long Thành.
Với chính sách bán hàng ưu việt, Căn hộ Origami – Vinhomes Grand Park quận 9 là lựa chọn đầu tư hàng đầu trong giai đoạn hiện nay. Nhẹ nhàng an cư với chỉ từ 300 triệu (tương đương 15% GTCH), bạn đã có thể thảnh thơi nhận nhà từ tháng 12 năm 2021, bắt đầu nhịp sống xanh, an lành với bộ ba công viên ngay dưới thềm nhà: vườn Nhật – Công viên resort – Công viên Cầu vồng.
                </p>
            </div>
        </div>
         <!-- ----------------------------------------------- -->
        <div id="aboutproject--videoprogress--section" class=" grid ">
            <div id="aboutproject--detail--information--section" class="grid">
                <div class="grid wide">
                    <h1> TIẾN ĐỘ DỰ ÁN </h1>
                </div>
                <div class="text grid wide">
                    <p>Dự Án Grand World Phú Quốc là chuỗi sản phẩm với phong cách Địa Trung Hải, Đông Dương, khu phố Thượng Hải
rực rỡ  nằm cạnh quần thể tự nhiên Grand World Phú Quốc được quy hoạch với hơn 600m có vị trí ngay bờ biển Bãi Dài,
một trong 20 bãi biển đẹp nhất và hoang sơ nhất châu Á được CNN vinh danh do chủ đầu tư Vingroup thực hiện.
Dự án hứa hẹn mang nhiều yếu tố và tiềm năng lớn sẽ đem lại giá trị cho các nhà đầu tư.
Vị trí của dự án là yếu tố đặc biệt quyết định 80% sự thành công và sinh lời của một sản phẩm bất động sản.
Dự Án Grand World Phú Quốc sở hữu vị trí đẹp tại bãi biển xứng đáng cho một kiệt tác BĐS nghỉ dưỡng cao cấp.
Dự án kết hợp với khu nghỉ dưỡng phức hợp đẹp nhất Vinpearl Phú Quốc và Corona Resort Phú Quốc, Condotel Vinpearl Phú Quốc,
sân Goft chuẩn quốc tế kế bên để tạo thành một chuỗi hệ du lịch thiên nhiên nghỉ dưỡng.
Vị trí vàng
Cơ hội đầu tư vượt trội 
Vị trí là yếu tố đặc biệt quyết định 80% sự thành công và sinh lời của một sản phẩm bất động sản
Grand World Phú Quốc sở hữu vị trí vàng xứng tầm cho một kiệt tác BĐS nghỉ dưỡng với hơn 600m bờ biển Bãi Dài, một trong 20 bãi biển đẹp và hoang sơ nhất châu Á được CNN vinh danh
Dự án còn kết hợp với khu nghỉ dưỡng phức hợp Vinpearl Phú Quốc và Corona Resort & Casino Phú Quốc kế bên để tạo thành một đại quần thể Du lịch Nghĩ dưỡng, Vui chơi Giải trí, Thương mại Dịch vụ và mua sắm hàng đầu tại Đảo Ngọc
Liền kề với "thỏi nam châm" hút khách mang tên Casino Corona, casino đầu tiên tại Việt Nam được cấp phép cho người Việt vào chơi!.
                    </p>
                </div>
            </div>
            <div class=" grid wide row">
                <iframe class="col l-12 m-12 c-12"  src="https://www.youtube.com/embed/-lAJa_s_cCs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
         <!-- ----------------------------------------------- -->
        <div id="aboutproject--map">
        </div>
        <div id="footer--map--info" class="row grid wide">
            
            <div class=" footer--map--info--item col l-3 m-6 c-12 l-o-1 row"><span class="col">1</span><a class="col" href="./zone.html">Phân khu the Origami</a></div>
            <div class=" footer--map--info--item col l-3 m-6 c-12 l-o-1 row"><span class="col">1</span><a class="col" href="">Phân khu the Origami</a></div>
            <div class=" footer--map--info--item col l-3 m-6 c-12 l-o-1 row"><span class="col">1</span><a class="col" href="">Phân khu the Origami</a></div>
            <div class=" footer--map--info--item col l-3 m-6 c-12 l-o-1 row"><span class="col">1</span><a class="col" href="">Phân khu the Origami</a></div>
            <div class=" footer--map--info--item col l-3 m-6 c-12 l-o-1 row"><span class="col">1</span><a class="col" href="">Phân khu the Origami</a></div>
            <div class=" footer--map--info--item col l-3 m-6 c-12 l-o-1 row"><span class="col">1</span><a class="col" href="">Phân khu the Origami</a></div>

        </div>
         <!-- ----------------------------------------------- -->
        <div id="aboutproject--benefits--section" class="grid">
            <div class="grid wide">
                <h1>✨ LỢI ÍCH KHÁCH HÀNG ✨</h1>
            </div>
            <div class="text grid wide">
                <p>
1. Chính sách bán hàng hấp dẫn
2. Các shop đã có sẵn, khách hàng có thể xem ngay bất kỳ lúc nào trước khi chọn mua.
3. Mua shop được CĐT cam kết lợi nhuận cùng hợp đồng thuê 3 năm.
4. Duy nhất chỉ có dự án này tại những  quần thể nghỉ dưỡng bật nhất tại Phú Quốc.
5. Nằm trong những chuỗi hệ sinh thái du lịch cao cấp VinWonders, vườn thú, Vinpearl Discovery, Sân Golf.
6. Chủ đầu tư Vinpearl uy tín nhất Việt Nam, đang vận hành và phát triển chuỗi hệ du lịch thiên nhiên – nghỉ dưỡng 5 sao
7. Các tiện ích xung quanh đã hiện hữu và hoạt động kinh doanh, vui chơi, giải trí đồng loạt
8. Grand World Phú Quốc được quy hoạch kinh doanh luôn  là thương hiệu sáng giá tại thị trường bất động sản Phú Quốc và định hướng phát triển du lịch đồng bộ, tiềm năng tăng giá của Bất động sản tại đây là rất lớn.
                </p>
            </div>
            <div class="grid wide">
                <a class="l-4 l-o-4 m-4 m-o-4 c-4 c-o-4">ĐỂ LẠI THÔNG TIN</a>
            </div>
        </div>
         <!-- ----------------------------------------------- -->