@using BDS.WebApp.Models.Project;
@using BDS.Data.Enum
@model ProjectViewModel
@{
    ViewData["Title"] = "Dự án";
    //Layout = _Layout;
}

<head>
    <link rel="stylesheet" href="~/assets/css/project.css">
</head>

<section id="project--banner">
              <div class="imgBx">
                  @{
                      foreach (var item in Model.projectBanners)
                      {
                          <img src="./@item.Path" class="active">
                      }
                  }
              </div>
              
              <ul class="controls grid ">
                  <li onclick = "PrevSlide();PrevSlideText();"></li>
                  <li onclick ="nextSlide();nextSlideText();"></li>
              </ul>
          </section>
          <div id="project--list--investor" class="grid ">
            <div class=" grid wide row">
                <a class="btn col l-3 l-o-3 "> Vinhomes Grand Park </a>
                @{ string invesloper = "Other";}
                <a style="text-decoration: none;color: black" asp-action="MoreProject" asp-controller="Project"  asp-route-invesloper="@invesloper" class="btn col l-3 "> Chủ đầu tư khác </a>
            </div>
              <div class=" border-4px grid wide row">
                  @{
                      foreach (var item in Model.Projects)
                      {
                          <div class="project--list--item col l-6">
                              <div class="col">
                                  <div class="row">
                                      @{
                                          String bannerPath = "assets/img/aboutproject/grandworld--banner.png";
                                          foreach (var media in item.projectMedia)
                                          {
                                              if (media.Type == MediaType.BannerImg)
                                              {
                                                  bannerPath = media.Path;
                                                  break;
                                              }
                                          }
                                      }
                                      <img src="~/@bannerPath">
                                  </div>
                                  <div class="row">
                                      <a class="text-decoration-none" asp-action="Detail" asp-controller="Project" asp-route-id="@item.id">
                                          @item.name
                                      </a>
                                  </div>
                              </div>
                          </div>
                      }
                  }
                  
              </div>
                 <div class=" grid wide row">
                    <a class="more-btn col l-2 l-o-5 m-4 m-o-4 c-4 c-o-4" asp-action="MoreProject" asp-controller="Project" style="text-decoration: none; color: black"  > xem thêm </a>
                </div>
          </div>

<script type="text/javascript">
                const imgBx = document.querySelector('.imgBx');
                const slides = imgBx.getElementsByTagName('img');
                var i = 0;
                function nextSlide(){
                    slides[i].classList.remove('active');
                    i = (i+1) % slides.length;
                    slides[i].classList.add('active');
                }
                function PrevSlide(){
                    slides[i].classList.remove('active');
                    i=(i-1 + slides.length) % slides.length;
                    slides[i].classList.add('active');
                }
          </script>
<script type="text/javascript">
                const contentBx = document.querySelector('.contentBx');
                const slidesText = contentBx.getElementsByTagName('div');
                var j = 0;
                function nextSlideText(){
                slidesText[j].classList.remove('active');
                j = (j+1) % slidesText.length;
                slidesText[j].classList.add('active');
            }
            function PrevSlideText(){
                slidesText[j].classList.remove('active');
                j=(j-1 + slidesText.length) % slidesText.length;
                slidesText[j].classList.add('active');
            }
            </script>