

@{
    ViewData["Title"] = "Dự án";
    //Layout = _Layout;
}

<head>
    <link rel="stylesheet" href="./assets/css/project.css">
</head>

<section id="project--banner">
              <div class="imgBx">
                  <img  src="./assets/img/img2.jpeg" >
                  <img src="./assets/img/img2.jpeg" >
                  <img src="./assets/img/img3.jpeg" class="active">
                  <img src="./assets/img/aboutproject/vinhomesquan9.jpeg">
              </div>
              <div class="contentBx">
                  <div class="active">
                      <h2>Vinhomes Grand World Phú Quốc</h2>
                      <p class="text">
Hơn cả một tổ hợp quy mô tầm cỡ, Grand World Phú Quốc là điểm đến thiên đường, nơi có chuỗi khách sạn nghỉ dưỡng cùng nhiều hệ thống, phân khu mua sắm thời thượng và nhiều hạng mục tiện ích cảnh quan phục vụ vui chơi giải trí.
Được quy hoạch để trở thành tâm điểm du lịch, vui chơi giải trí của đảo, Grand World Phú Quốc như mang cả tinh hoa kiến trúc thế giới đến với Đảo Ngọc.
                    </p>
                  </div>
                  <div>
                    <h2>Vinhomes can gio</h2>
                    <p>Với Google Meet trong Gmail, giờ đây bạn có thể tham gia cuộc họp video có phụ đề trực tiếp và chia sẻ màn hình với tối đa 100 người. 
                      Với Google Meet trong Gmail, giờ đây bạn có thể tham gia cuộc họp video có phụ đề trực tiếp và chia sẻ màn hình với tối đa 100 người.
                    </p>
                </div>
                <div>
                    <h2>Vinhomes phu quoc</h2>
                    <p>Với Google Meet trong Gmail, giờ đây bạn có thể tham gia cuộc họp video có phụ đề trực tiếp và chia sẻ màn hình với tối đa 100 người. 
                      Với Google Meet trong Gmail, giờ đây bạn có thể tham gia cuộc họp video có phụ đề trực tiếp và chia sẻ màn hình với tối đa 100 người.
                    </p>
                </div>
                <div>
                    <h2>Vinhomes Grand Park</h2>
                    <p>Hơn cả một tổ hợp quy mô tầm cỡ, Grand World Phú Quốc là điểm đến thiên đường, nơi có chuỗi khách sạn nghỉ dưỡng cùng nhiều hệ thống, phân khu mua sắm thời thượng và nhiều hạng mục tiện ích cảnh quan phục vụ vui chơi giải trí.
                        Được quy hoạch để trở thành tâm điểm du lịch, vui chơi giải trí của đảo, Grand World Phú Quốc như mang cả tinh hoa kiến trúc thế giới đến với Đảo Ngọc.
                    </p>
                </div>
              </div>
              <ul class="controls grid ">
                  <li onclick = "PrevSlide();PrevSlideText();"></li>
                  <li onclick ="nextSlide();nextSlideText();"></li>
              </ul>
          </section>
          <div id="project--list--investor" class="grid ">
            <div class=" grid wide row">
                <a class="btn col l-3 l-o-3 "> Vinhomes Grand Park </a>
                <a class="btn col l-3 "> Chủ đầu tư khác </a>
            </div>
            <div class=" border-4px grid wide row">
                <div class="project--list--item col l-6">
                    <div class="col">
                        <div class = "row">
                            <img src="./assets/img/aboutproject/grandworld--banner.png">
                        </div>
                        <div class = "row">
                            <a class="text-decoration-none" href="./aboutproject.html" >
                                Grand World Phú Quốc
                            </a>
                        </div>
                    </div>
                </div>
                <div class="project--list--item col l-6">
                    <div class="col">
                        <div class = "row">
                            <img src="./assets/img/aboutproject/vinhomesquan9.jpeg">
                        </div>
                        <div class = "row">
                            <a class="text-decoration-none" href="./aboutproject.html" >
                                Vinhomes Grand Park
                            </a>
                        </div>
                    </div>
                </div>
                <div class="project--list--item col l-6">
                    <div class="col">
                        <div class = "row">
                            <img src="./assets/img/img3.jpeg">
                        </div>
                        <div class = "row">
                            <a class="text-decoration-none" href="./aboutproject.html" >
                                Vinhomes Cần Giờ
                            </a>
                        </div>
                    </div>
                </div>
                <div class="project--list--item col l-6">
                    <div class="col">
                        <div class = "row">
                            <img src="./assets/img/aboutproject/grandworld--banner.png">
                        </div>
                        <div class = "row">
                           <a  class="text-decoration-none" href="./aboutproject.html" >
                               Vinhomes Grand Park
                           </a>
                        </div>
                    </div>
                </div>
            </div>
                 <div class=" grid wide row">
                    <a class="more-btn col l-2 l-o-5 m-4 m-o-4 c-4 c-o-4"> xem thêm </a>
                </div>
          </div>

          <!-- ---------------------------------------------------------------- -->
<div id="project--list--filteredbycounty" class="grid ">
    <div class=" grid wide row">
        <a class="btn margin-left--2px col l-3 "> Quận <i class=ti-angle-down></i> </a>
    </div>
    <div class=" border-4px grid wide row">
        <div class="project--list--item col l-6">
            <div class="col">
                <div class = "row">
                    <img src="./assets/img/aboutproject/grandworld--banner.png">
                </div>
                <div class = "row">
                    <a>
                        Vinhomes Grand Park
                    </a>
                </div>
            </div>
        </div>
        <div class="project--list--item col l-6">
            <div class="col">
                <div class = "row">
                    <img src="./assets/img/aboutproject/grandworld--banner.png">
                </div>
                <div class = "row">
                    <a>
                        Vinhomes Grand Park
                    </a>
                </div>
            </div>
        </div>
        <div class="project--list--item col l-6">
            <div class="col">
                <div class = "row">
                    <img src="./assets/img/aboutproject/grandworld--banner.png">
                </div>
                <div class = "row">
                    <a>
                        Vinhomes Grand Park
                    </a>
                </div>
            </div>
        </div>
        <div class="project--list--item col l-6">
            <div class="col">
                <div class = "row">
                    <img src="./assets/img/aboutproject/grandworld--banner.png">
                </div>
                <div class = "row">
                    <a class="">
                        Vinhomes Grand Park
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class=" grid wide row">
        <a class="more-btn col l-2 l-o-5 m-4 m-o-4 c-4 c-o-4"> xem thêm </a>
    </div>
</div>
<script type="text/javascript">
                const imgBx = document.querySelector('.imgBx');
                const slides = imgBx.getElementsByTagName('img');
                var i = 0;
                function nextSlide(){
                    slides[i].classList.remove('active');
                    i = (i+1) % slides.length;
                    slides[i].classList.add('active');
                }
                function PrevSlide(){
                    slides[i].classList.remove('active');
                    i=(i-1 + slides.length) % slides.length;
                    slides[i].classList.add('active');
                }
          </script>
<script type="text/javascript">
                const contentBx = document.querySelector('.contentBx');
                const slidesText = contentBx.getElementsByTagName('div');
                var j = 0;
                function nextSlideText(){
                slidesText[j].classList.remove('active');
                j = (j+1) % slidesText.length;
                slidesText[j].classList.add('active');
            }
            function PrevSlideText(){
                slidesText[j].classList.remove('active');
                j=(j-1 + slidesText.length) % slidesText.length;
                slidesText[j].classList.add('active');
            }
            </script>