@model BDS.WebApp.Models.Project.ProjectViewModel

@{
    ViewData["Title"] = "Dự án";
}



<head>
    <link rel="stylesheet" href="~/assets/css/project.css">
</head>

<!-- ----------------------------------------------- -->        
         
          <div id="project--list--investor" class="grid ">
            <div class=" grid wide row">
                <a class="btn col l-3  "> Vinhomes Grand Park </a>
                @{ string invesloper = "Other";}
                <a style="text-decoration: none;color: black" href="@Url.ActionLink("MoreProject","Project", new { invesloper })" class="btn col l-3 "> Chủ đầu tư khác </a>
            </div>
        
              <div class=" border-4px grid wide row">
@{
    foreach (var item in Model.Projects)
    {
        <div class="project--list--item col l-6">
            <div class="col">
                <div class="row">
                    <img src="~/assets/img/aboutproject/grandworld--banner.png">
                </div>
                <div class="row">
                    <a class="text-decoration-none" href="./aboutproject.html">
                        Grand World Phú Quốc
                    </a>
                </div>
            </div>
        </div>
    }
}
              </div>
            <div class="grid wide row margin-top-20px">
                <div class="pagination">
                    <a href="#" class="margin-left-12px">&laquo;</a>
                    <a href="#" class="active">1</a>
                    <a href="#">2</a>
                    <a href="#">3</a>
                    <a href="#">4</a>
                    <a href="#">5</a>
                    <a href="#">6</a>
                    <a href="#">7</a>
                    <a href="#">8</a>
                    <a href="#">9</a>
                    <a href="#">12</a>
                    <a href="#">&raquo;</a>
                  </div>
                  <!-- <ul class="controls grid ">
                    <li onclick = "PrevSlide();PrevSlideText();"></li>
                    <li onclick ="nextSlide();nextSlideText();"></li>
                </ul> -->
            </div>     
          </div>

          <!-- ---------------------------------------------------------------- -->